<footer class="footer-container" id="footer">
  <div class="footer-content">
    <div class="footer-section-subscription">
        <div class="logo">
            <svg class="footer-logo" width="84" height="36">
                <use href="/img/sprite.svg#icon-logo"></use>
            </svg>
        </div>
        <p class="subscribe-description">Subscribe to our newsletter for the latest updates on our yoga clases and events.</p>
        <div class="subscribe-form-container">   
            <div class="subscribe-form">
                <input type="email" placeholder="Placeholder">
                <button type="submit">Join</button>
            </div>
            <p class="error-message">Error Text</p>
        </div>
      <p class="disclaimer">
        By subscribing, you consent to our Privacy Policy and agree to receive
        updates.
      </p>
    </div>
    <div class="footer-section-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#yoga-classes">Yoga Classes</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#footer">Contacts</a></li>
      </ul>
    </div>
    <div class="footer-section-social">
      <h3>Connect With Us</h3>
      <ul class="social-list">
        <li>
          <a href="https://www.facebook.com/" target="_blank">
            <svg width="24" height="24">
              <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
            Facebook
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank">
            <svg width="24" height="24">
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
            Instagram
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/">
            <svg width="24" height="24">
              <use href="../img/sprite.svg#icon-linkedIn"></use>
            </svg>
            LinkedIn
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.youtube.com/">
            <svg width="24" height="24">
              <use href="../img/sprite.svg#icon-youtube"></use>
            </svg>
            YouTube
          </a>
        </li>
      </ul>
    </div>
    <p class="copyright">© 2025 Yoga Studio. All rights reserved.</p>
  </div>
</footer>
