<header class="page-header">
  <div class="container header-container">
    <button class="burger-btn" type="button">
      <svg class="burger-icon" width="24" height="24">
        <use href="../img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link current" href="./yoga-classes.html"
            >Yoga Classes</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link current" href="./team.html">Team</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link current" href="./testimonials.html"
            >Testimonials</a
          >
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link current" href="./pricing.html">Pricing</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link current" href="">Contacts</a>
        </li>
      </ul>
    </nav>
    <svg class="header-logo" width="84" height="36">
      <use href="../img/sprite.svg#icon-logo"></use>
    </svg>
    <a class="header-link-join" href="./pricing.html">Join Now</a>
  </div>
  <!-- mobile menu -->
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <div class="mobile-menu-head">
        <svg class="close-btn" width="24" height="24">
          <use href="../img/sprite.svg#icon-close-button">close</use>
        </svg>
        <svg class="mobile-menu-logo" width="84" height="36">
          <use href="../img/sprite.svg#icon-logo">logo</use>
        </svg>
        <a class="mobile-menu-join" href="./pricing.html">Join Now</a>
      </div>
      <div class="mobile-nav">
        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="./yoga-classes.html"
              >Yoga Classes</a
            >
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="./team.html">Team</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="./testimonials.html"
              >Testimonials</a
            >
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="./pricing.html">Pricing</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#">Contacts</a>
          </li>
        </ul>
        <a class="mobile-link-join" href="./pricing.html">Join Now</a>
      </div>
    </div>
  </div>
</header>
