<section class="main-hero">
    <div class="img-hero">
        <picture>
        <source media="(max-width: 375px)"
        srcset="/img/webp/hero-m.webp 1x, /img/webp/hero-m@2x.webp 2x">
        <source media="(max-width: 768px)"
        srcset="/img/webp/hero-t.webp 1x, /img/webp/hero-t@2x.webp 2x">
        <img src="/img/webp/hero-d.webp"
        alt="Woman in a deep backbend yoga pose on a pier at sunset, silhouetted against a gradient sky of pink and purple hues reflecting on calm water, conveying tranquility and strength"
        srcset="/img/webp/hero-d.webp 1x, /img/webp/hero-d@2x.webp 2x" alt="Girl doing yoga pose at sunset" style="width: auto;" >
        </picture>
    </div>
    <div class="container">
        <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
        <div class="text-btn">
        <p class="hero-text">Discover the harmony of mind and body through our expertly designed yoga programs. Join a community dedicated to
        wellness and personal growth.</p>
    <div class="link-btn">
        <a href="#" class="link-join">Join Now</a>
        <a href="#" class="link-learn">Learn More</a>
    </div>
    </div>
    </div>
</section> 
