<section class="main-hero">
  <picture class="img-hero">
    <source
      media="(max-width: 375px)"
      srcset="/img/webp/hero-m.webp 1x, /img/webp/hero-m@2x.webp 2x"
    />
    <source
      media="(max-width: 768px)"
      srcset="/img/webp/hero-t.webp 1x, /img/webp/hero-t@2x.webp 2x"
    />
    <img
      src="/img/webp/hero-d.webp"
      srcset="/img/webp/hero-d.webp 1x, /img/webp/hero-d@2x.webp 2x"
      alt="Girl doing yoga pose at sunset"
      width="1440"
    />
  </picture>

  <div class="container text-bottom">
    <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
    <div class="text-btn">
      <p class="hero-text">
        Discover the harmony of mind and body through our expertly designed yoga
        programs. Join a community dedicated to wellness and personal growth.
      </p>
      <ul class="link-btn">
        <li a href="#pricing" class="link-join">Join Now</a></li>
        <li a href="#gallery" class="link-learn">Learn More</a></li>
      </ul>
    </div>
  </div>
</section>
