<div class="backdrop" data-modal-two>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-two-close>Х</button>

    <p class="modal-title">Join Now!</p>
    <p class="modal-package">8 Sessions Package</p>
    <p class="modal-price">$65</p>

    <form class="modal-form">
      <div class="modal-field">
        <label class="modal-label" for="user-name-65">Your Name</label>
        <input
          class="modal-input"
          type="text"
          name="user-name"
          id="user-name-65"
          placeholder="Placeholder"
        />
      </div>

      <div class="modal-field">
        <label class="modal-label" for="user-email-65">Email</label>
        <input
          class="modal-input"
          type="email"
          name="user-email"
          id="user-email-65"
          placeholder="Placeholder"
        />
      </div>

      <div class="modal-field">
        <label class="modal-label" for="user-phone-65">Phone number</label>
        <input
          class="modal-input"
          type="tel"
          name="user-phone"
          id="user-phone-65"
          placeholder="Placeholder"
          required
        />
      </div>

      <button type="submit" class="modal-submit-btn">Go to checkout</button>
    </form>
  </div>
</div>
