<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>Х</button>

    <p class="modal-title">Join Now!</p>
    <p class="modal-package">One Session</p>
    <p class="modal-price">$10</p>

    <form class="modal-form">
      <div class="modal-field">
        <label class="modal-label" for="user-name-10">Your Name</label>
        <input
          class="modal-input"
          type="text"
          name="user-name"
          id="user-name-10"
          placeholder="Placeholder"
        />
      </div>

      <div class="modal-field">
        <label class="modal-label" for="user-email-10">Email</label>
        <input
          class="modal-input"
          type="email"
          name="user-email"
          id="user-email-10"
          placeholder="Placeholder"
        />
      </div>

      <div class="modal-field">
        <label class="modal-label" for="user-phone-10">Phone number</label>
        <input
          class="modal-input"
          type="tel"
          name="user-phone"
          id="user-phone-10"
          placeholder="Placeholder"
          required
        />
      </div>

      <button type="submit" class="modal-submit-btn">Go to checkout</button>
    </form>
  </div>
</div>
