
        <section class="pricing">
            <div class="container pricing-container">
                <div class="pricing-header">
                    <p class="pricing-header-affordable">Affordable</p>
                    <h2 class="pricing-header-head">Pricing Plans</h2>
                    <p class="pricing-header-text">Choose the perfect plan for your yoga journey.</p>
                </div>

                <div class="pricing-card-container">

                    <div class="pricing-card-session">
                        <div class="pricing-card-text-container">
                            <h6 class="pricing-card-header">One Session</h6>
                            <h1 class="pricing-card-price">$10</h1>
                        </div>
                        <ul class="pricing-card-list">
                            <li class="pricing-card-element">
                                <div class="icon-text">
                                    <svg width="24" height="24" class="chek-icon">
                                        <use href="/img/sprite.svg#icon-Check"></use>
                                    </svg>
                                    <span>1 group session</span>
                                </div>
                            </li>
                            <li class="pricing-card-element">
                                <div class="icon-text">
                                    <svg width="24" height="24" class="chek-icon">
                                        <use href="/img/sprite.svg#icon-Check"></use>
                                    </svg>
                                    <span>10% discount for next 2 Sessions</span>
                                </div>
                            </li>
                            <li class="pricing-card-element">
                                <div class="icon-text">
                                    <svg width="24" height="24" class="chek-icon">
                                        <use href="/img/sprite.svg#icon-Check"></use>
                                    </svg>
                                    <span>Community support group</span>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="pricing-card-btn">Join</button>
                    </div>

                    <div class="pricing-card-session">
                        <div class="pricing-card-text-container">
                            <h6 class="pricing-card-header">8 Session Package</h6>
                            <h1 class="pricing-card-price">$65</h1>
                        </div>
                        <ul class="pricing-card-list">
                            <li class="pricing-card-element">
                                <div class="icon-text">
                                    <svg width="24" height="24" class="chek-icon">
                                        <use href="/img/sprite.svg#icon-Check"></use>
                                    </svg>
                                    <span>6 Group Sessions</span>
                                </div>
                            </li>
                            <li class="pricing-card-element">
                                <div class="icon-text">
                                    <svg width="24" height="24" class="chek-icon">
                                        <use href="/img/sprite.svg#icon-Check"></use>
                                    </svg>
                                    <span>2 Individual Sessions</span>
                                </div>
                            </li>
                            <li class="pricing-card-element">
                                <div class="icon-text">
                                    <svg width="24" height="24" class="chek-icon">
                                        <use href="/img/sprite.svg#icon-Check"></use>
                                    </svg>
                                    <span>Community support group</span>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="pricing-card-btn">Join</button>
                    </div>

                    <div class="pricing-card-session pricing-card-session-tablet">
                        <div class="pricing-card-text-container">
                            <h6 class="pricing-card-header">12 Session Package</h6>
                            <h1 class="pricing-card-price">$80</h1>
                        </div>
                        <ul class="pricing-card-list">
                            <li class="pricing-card-element">
                                <div class="icon-text">
                                    <svg width="24" height="24" class="chek-icon">
                                        <use href="/img/sprite.svg#icon-Check"></use>
                                    </svg>
                                    <span>8 Group Sessions</span>
                                </div>
                            </li>
                            <li class="pricing-card-element">
                                <div class="icon-text">
                                    <svg width="24" height="24" class="chek-icon">
                                        <use href="/img/sprite.svg#icon-Check"></use>
                                    </svg>
                                    <span>4 Individual Sessions</span>
                                </div>
                            </li>
                            <li class="pricing-card-element">
                                <div class="icon-text">
                                    <svg width="24" height="24" class="chek-icon">
                                        <use href="/img/sprite.svg#icon-Check"></use>
                                    </svg>
                                    <span>Monthly yoga challenges</span>
                                </div>
                            </li>
                            <li class="pricing-card-element">
                                <div class="icon-text">
                                    <svg width="24" height="24" class="chek-icon">
                                        <use href="/img/sprite.svg#icon-Check"></use>
                                    </svg>
                                    <span>Exclusive member discounts</span>
                                </div>
                            </li>
                            <li class="pricing-card-element">
                                <div class="icon-text">
                                    <svg width="24" height="24" class="chek-icon">
                                        <use href="/img/sprite.svg#icon-Check"></use>
                                    </svg>
                                    <span>Community support group</span>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="pricing-card-btn">Join</button>
                    </div>

                </div>
            </div>
        </section>
