<section class="team-section">
    <div class="container">
        <div class="team-section-heading-container ">
            <p class="team-section-heading-text">Meet</p>
            <h2 class="team-section-header">Our Team</h2>
            <p class="team-section-heading-phrase">Dedicated professionals passionate about yoga and wellness.</p>
        </div>
        <ul class="team-section-list">
            <li class="team-section-item">
                <picture>
                    <source srcset="/img/team/liam-desk-1x.jpg 1x, /img/team/liam-desk-2x.jpg 2x"
                        media="(min-width: 1336px)" />
                    <source srcset="/img/team/liam-mob-1x.jpg 1x, /img/team/liam-mob-2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <source srcset="/img/team/liam-tab-1x.jpg 1x, /img/team/liam-tab-2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <img class="team-section-img" srcset="/img/team/liam-desk-1x.jpg 1x, /img/team/liam-desk-2x.jpg 2x"
                        src="/img/team/liam-desk-1x.jpg" alt="yoga-instructor-photo" width="343">
                </picture>
                <div class="team-section-text-container">
                    <h4 class="team-section-name">Liam Johnson</h4>
                    <p class="team-section-position">Yoga Instructor</p>
                    <p class="team-section-text">Liam specializes in mindfulness and stress reduction techniques through
                        guided meditation.</p>
                </div>

                <div class="socials-container">
                    <a class="social-icon" href="#">
                        <svg width="24" height="24">
                            <use href="/img/sprite.svg#icon-linkedIn"></use>
                        </svg>
                    </a>
                    <a class="social-icon" href="#">
                        <svg width="24" height="24">
                            <use href="/img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-section-item">
                <picture>
                    <source srcset="/img/team/emma-desk-1x.jpg 1x, /img/team/emma-desk-2x.jpg 2x"
                        media="(min-width: 1336px)" />
                    <source srcset="/img/team/emma-mob-1x.jpg1x, /img/team/emma-mob-2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <source srcset="/img/team/emma-tab-1x.jpg 1x, /img/team/emma-tab-2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <img class="team-section-img" srcset="/img/team/emma-desk-1x.jpg 1x, /img/team/emma-desk-2x.jpg 2x"
                        src="/img/team/emma-desk-1x.jpg" alt="meditation-coach-photo" width="343">
                </picture>
                <div class="team-section-text-container">
                    <h4 class="team-section-name">Emma Stone</h4>
                    <p class="team-section-position">Meditation Coach</p>
                    <p class="team-section-text">Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
                </div>
                <div class="socials-container">
                    <a class="social-icon" href="#">
                        <svg width="24" height="24">
                            <use href="/img/sprite.svg#icon-linkedIn"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-section-item">
                <picture>
                    <source srcset="/img/team/sophia-desk-1x.jpg 1x, /img/team/sophia-desk-2x.jpg 2x"
                        media="(min-width: 1336px)" />
                    <source srcset="/img/team/sophia-mob-1x.jpg 1x, /img/team/sophia-mob-2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <source srcset="/img/team/sophia-tab-1x.jpg 1x, /img/team/sophia-tab-2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <img class="team-section-img"
                        srcset="/img/team/sophia-desk-1x.jpg 1x, /img/team/sophia-desk-2x.jpg 2x"
                        src="/img/team/sophia-desk-1x.jpg" alt="pilates-trainer-photo" width="343">
                </picture>
                <div class="team-section-text-container">
                    <h4 class="team-section-name">Sophia Lee</h4>
                    <p class="team-section-position">Pilates Trainer</p>
                    <p class="team-section-text">Sophia combines Pilates with yoga for a holistic fitness approach.</p>
                </div>
                <div class="socials-container">
                    <a class="social-icon" href="#">
                        <svg width="24" height="24">
                            <use href="/img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-section-item">
                <picture>
                    <source srcset="/img/team/noah-desk-1x.jpg 1x, /img/team/noah-desk-2x.jpg 2x"
                        media="(min-width: 1336px)" />
                    <source srcset="/img/team/noah-mob-1x.jpg 1x, /img/team/noah-mob-2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <source srcset="/img/team/noah-tab-1x.jpg 1x, /img/team/noah-tab-2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <img class="team-section-img" srcset="/img/team/noah-desk-1x.jpg 1x, /img/team/noah-desk-2x.jpg 2x"
                        src="/img/team/noah-desk-1x.jpg" alt="yoga-therapist-photo" width="343">
                </picture>
                <div class="team-section-text-container">
                    <h4 class="team-section-name">Noah Brown</h4>
                    <p class="team-section-position">Yoga Therapist</p>
                    <p class="team-section-text">Noah focuses on therapeutic yoga to aid recovery and enhance
                        well-being.
                    </p>
                </div>
                <div class="socials-container">
                    <a class="social-icon" href="#">
                        <svg width="24" height="24">
                            <use href="/img/sprite.svg#icon-linkedIn"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-section-item">
                <picture>
                    <source srcset="/img/team/ava-desk-1x.jpg 1x, /img/team/ava-desk-2x.jpg 2x"
                        media="(min-width: 1336px)" />
                    <source srcset="/img/team/ava-mob-1x.jpg 1x, /img/team/ava-mob-2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <source srcset="/img/team/ava-tab-1x.jpg 1x, /img/team/ava-tab-2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <img class="team-section-img" srcset="/img/team/ava-desk-1x.jpg 1x, /img/team/ava-desk-2x.jpg 2x"
                        src="/img/team/ava-desk-1x.jpg" alt="fitness-trainer-photo" width="343">
                </picture>
                <div class="team-section-text-container">
                    <h4 class="team-section-name">Ava Green</h4>
                    <p class="team-section-position">Fitness Trainer</p>
                    <p class="team-section-text">Ava integrates strength training with yoga to promote overall fitness.
                    </p>
                </div>
                <div class="socials-container">
                    <a class="social-icon" href="#">
                        <svg width="24" height="24">
                            <use href="/img/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                    <a class="social-icon" href="#">
                        <svg width="24" height="24">
                            <use href="/img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                    <a class="social-icon" href="#">
                        <svg width="24" height="24">
                            <use href="/img/sprite.svg#icon-linkedIn"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="team-section-item">
                <picture>
                    <source srcset="/img/team/clark-desk-1x.jpg 1x, /img/team/clark-desk-2x.jpg 2x"
                        media="(min-width: 1336px)" />
                    <source srcset="/img/team/clark-mob-1x.jpg 1x, /img/team/clark-mob-2x.jpg 2x"
                        media="(max-width: 767px)" />
                    <source srcset="/img/team/clark-tab-1x.jpg 1x, /img/team/clark-tab-2x.jpg 2x"
                        media="(min-width: 768px)" />
                    <img class="team-section-img"
                        srcset="/img/team/clark-desk-1x.jpg 1x, /img/team/clark-desk-2x.jpg 2x"
                        src="/img/team/clark-desk-1x.jpg" alt="fitness-trainer-photo" width="343">
                </picture>
                <div class="team-section-text-container">
                    <h4 class="team-section-name">Clark Thomas</h4>
                    <p class="team-section-position">Fitness Trainer</p>
                    <p class="team-section-text">Clark specializes in mindfulness and stress reduction techniques
                        through
                        guided meditation.</p>
                </div>
                <div class="socials-container">
                    <a class="social-icon" href="#">
                        <svg width="24" height="24">
                            <use href="/img/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                    <a class="social-icon" href="#">
                        <svg width="24" height="24">
                            <use href="/img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>