<section class="testimonials">
    <div class="container">
        <h2 class="testimonials-title">Testimonials</h2>
        <p class="testimonials-text">What our happy clients say</p>
        <ul class="testimonials-list">
            <li class="testimonials-list-item">
                <div class="testimonials-list-item-container testimonials-container-top">
                    <div class="testimonials-container-list">
                            <p class="testimonials-container-text">YogaBloom is a true sanctuary for the mind and body. The classes are thoughtfully guided, the atmosphere is calming, and
                            every session leaves me feeling more centered, flexible, and recharged. Highly recommended for anyone seeking balance
                            and inner peace.
                            </p>
                            <img class="testimonials-photo" src="../img/donna-norman2x.png" srcset="../img/donna-norman.png 1x, ../img/donna-norman2x.png 2x" alt="Donna Norman" width="56" height="56">
                            <h3 class="testimonials-container-title">Donna Norman</h3>
                            <p class="testimonials-container-title-text">Yoga Enthusiast</p>
                    </div>
                </div>
            </li>
            <li class="testimonials-list-item">
                <div class="testimonials-list-item-container testimonials-container-top-center">
                    <div class="testimonials-container-list">
                            <p class="testimonials-container-text">I’ve tried many yoga studios, but YogaBloom stands out with its welcoming energy and inspiring instructors. Every class
                            feels like a journey inward. It’s now my favorite part of the week.
                            </p>
                            <div class="container-sophie">
                                <img class="testimonials-photo" src="../img/sophie-delgado.png"
                                    srcset="../img/sophie-delgado.png 1x, ../img/sophie-delgado2x.png 2x" alt="Sophie Delgado" width="56" height="56">
                                <h3 class="testimonials-container-title">Sophie Delgado</h3>
                                <p class="testimonials-container-title-text">Marketing Specialist</p>
                            </div>
                    </div>
                </div>
            </li>
            <li class="testimonials-list-item">
                <div class="testimonials-list-item-container testimonials-container-bottom-center">
                    <div class="testimonials-container-list">
                            <p class="testimonials-container-text">YogaBloom helped me reconnect with myself. The sessions are well-paced, the space is beautiful, and the community is
                            truly supportive. A perfect place to grow both physically and mentally.
                            </p>
                            <div class="container-rachel">
                                <img class="testimonials-photo" src="../img/rachel-kimura.png"
                                    srcset="../img/rachel-kimura.png 1x, ../img/rachel-kimura2x.png 2x" alt="Rachel Kimura" width="56" height="56">
                                <h3 class="testimonials-container-title">Rachel Kimura</h3>
                                <p class="testimonials-container-title-text">Freelance Illustrator</p>
                            </div>
                    </div>
                </div>
            </li>
            <li class="testimonials-list-item">
                <div class="testimonials-list-item-container testimonials-container-bottom">
                    <div class="testimonials-container-list">
                            <p class="testimonials-container-text">Whether you're new to yoga or a long-time practitioner, YogaBloom offers something special. The mindful approach and
                            soothing guidance make each class a peaceful escape from <br>daily stress.
                            </p>
                            <img class="testimonials-photo" src="../img/emma-l-hart.png"
                                srcset="../img/emma-l-hart.png 1x, ../img/emma-l-hart2x.png 2x" alt="Emma L. Hart" width="56" height="56">
                            <h3 class="testimonials-container-title">Emma L. Hart</h3>
                            <p class="testimonials-container-title-text">University Student & Part-time Barista</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>