<section>
  <p>Explore</p>
  <h2>Discover Our Most Popular Yoga Programs</h2>
  <p>
    Join our community and elevate your practice with our expertly designed yoga
    programs. Each course is tailored to meet various skill levels and personal
    goals.
  </p>
  <ul>
    <li>
      <img src="" alt="" width="343" height="198" />
      <h3>Beginner Yoga: Foundations for New Practitioners</h3>
      <p>Learn the basics of yoga in a supportive environment.</p>
    </li>
    <li>
      <img src="" alt="" width="343" height="198" />
      <h3>Vinyasa Flow: Energize Your Body and Mind</h3>
      <p>Experience a dynamic sequence that connects breath and movement.</p>
    </li>
    <li>
      <img src="" alt="" width="343" height="198" />
      <h3>Restorative Yoga: Deep Relaxation and Healing</h3>
      <p>Unwind and rejuvenate with gentle poses and mindfulness.</p>
    </li>
  </ul>
  <button>Join now</button>
</section>
