<section class="yoga-classes">
  <div class="container container-yoga-classes">
    <p class="subtitle-yoga-classes">Explore</p>
    <h2 class="title-yoga-classes">Discover Our Most Popular Yoga Programs</h2>
    <p class="dscr-classes">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="yoga-classes-list">
      <li class="yoga-classes-item">
        <picture>
          <source
            srcset="
              ./img/yoga-classes/beginner-desk.png    1x,
              ./img/yoga-classes/beginner-desk@2x.png 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              ./img/yoga-classes/beginner-tab.png    1x,
              ./img/yoga-classes/beginner-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/yoga-classes/beginner-mob.png    1x,
              ./img/yoga-classes/beginner-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/yoga-classes/beginner-main.png"
            alt="beginner yoga"
            width="421"
            height="240"
          />
        </picture>
        <h3 class="program-yoga">
          Beginner Yoga: Foundations <span>for New Practitioners</span>
        </h3>
        <p class="dscr-program">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>
      <li class="yoga-classes-item">
        <picture>
          <source
            srcset="
              ./img/yoga-classes/flow-desk.png    1x,
              ./img/yoga-classes/flow-desk@2x.png 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              ./img/yoga-classes/flow-tab.png    1x,
              ./img/yoga-classes/flow-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/yoga-classes/flow-mob.png    1x,
              ./img/yoga-classes/flow-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/yoga-classes/flow-main.png"
            alt="flow yoga"
            width="421"
            height="240"
          />
        </picture>
        <h3 class="program-yoga">Vinyasa Flow: Energize Your Body and Mind</h3>
        <p class="dscr-program">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>
      <li class="yoga-classes-item">
        <picture>
          <source
            srcset="
              ./img/yoga-classes/restorative-desk.png    1x,
              ./img/yoga-classes/restorative-desk@2x.png 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              ./img/yoga-classes/restorative-tab.png    1x,
              ./img/yoga-classes/restorative-tab@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/yoga-classes/restorative-mob.png    1x,
              ./img/yoga-classes/restorative-mob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/yoga-classes/restorative-main.png"
            alt="meditation"
            width="421"
            height="240"
          />
        </picture>
        <h3 class="program-yoga">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="dscr-program">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <button type="button" class="yoga-classes-button">Join now</button>
  </div>
</section>
