/* Styles for Mobile devices  */
.page-header {
  background: #f2fafa;
}
.container {
  width: 100%;
}
.header-container {
  display: flex;
}
.burger-btn {
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 10px 85px 10px 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  fill: #0d0b0a;
}
.header-nav-list {
  display: none;
}
.header-logo {
  fill: #0d0b0a;
  margin: 14px 16px 14px 0;
}
.header-link-join {
  display: inline-block;
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 4px 20px;
  margin: 15px 0;
  background-color: #c2d9fc;
  white-space: nowrap;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link-join:hover,
.header-link-join:focus {
  opacity: 0.5;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header-container {
    padding: 15px 32px;
  }
  .burger-btn {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 9px 286px 9px 0;
  }
  .header-logo {
    fill: #0d0b0a;
    margin: 3px 205px 3px 0;
  }
  .header-link-join {
    padding: 8px 20px;
    margin: 0;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1336px) {
  .header-container {
    padding: 15px 48px;
    align-items: center;
    justify-content: space-between;
  }
  .burger-btn {
    display: none;
  }
  .burger-icon {
    display: none;
  }
  .header-nav-list {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 32px;
    margin: 0;
  }
  .header-nav-item {
    font-family: 'Sarabun', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
  }
  .header-nav-link {
    font-family: 'Sarabun', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav-link.current {
    position: relative;
    text-decoration: none;
  }
  .header-nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #0d0b0a;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav-link.current:hover::after,
  .header-nav-link.current:focus::after {
    width: 100%;
  }
  .header-nav-link:hover,
  .header-nav-link:focus {
    opacity: 0.5;
  }
  .header-logo {
    fill: #0d0b0a;
    margin-right: 0;
  }
  .header-link-join {
    display: inline-block;
    font-family: 'Sarabun', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 4px 20px;
    margin: 15px 0;
    background: #c2d9fc;
    white-space: nowrap;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header-link-join:hover,
.header-link-join:focus {
  opacity: 0.5;
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  width: 375px;
  height: 100%;
  padding: 0 16px;
}
.mobile-menu-head {
  display: flex;
  align-items: center;
}
.close-btn {
  width: 48px;
  height: 48px;
  padding: 12px;
  margin-right: 90px;
}
.mobile-menu-logo {
  width: 84px;
  height: 36px;
  margin-right: 16px;
}
.mobile-menu-join {
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 4px 20px;
  width: 105px;
  height: 34px;
  white-space: nowrap;
  background: #c2d9fc;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-join:hover,
.mobile-menu-join:focus {
  background-color: #c2d9fc;
  opacity: 0.5;
}
.mobile-nav {
  padding: 16px 0 160px 0;
  display: flex;
  flex-direction: column;
}
.mobile-menu-list {
  margin-bottom: 276px;
}
.mobile-menu-item {
  padding: 12px 0;
}
.mobile-menu-link {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  opacity: 0.5;
}
.mobile-link-join {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  background: #c2d9fc;
  white-space: nowrap;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-link-join:hover,
.mobile-link-join:focus {
  background-color: #c2d9fc;
  opacity: 0.5;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .mobile-menu-container {
    position: relative;
    padding: 0px 32px;
    width: 768px;
    height: 100%;
  }
  .mobile-menu-head {
    justify-content: space-between;
  }
  .mobile-link-join {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c2d9fc;
    background: #c2d9fc;
    white-space: nowrap;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
    width: 204px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1336px) {
  .mobile-menu {
    display: none;
  }
}
