
.pricing {
    background-color: #F2FAFA;
    padding: 64px;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    background-color: #F2FAFA;
}

.pricing-header {
    display: block;
    align-items: center;
    text-align: center;
    margin-bottom: 48px;
}

.pricing-header-affordable {
    line-height: 1.50;
    font-weight: 600;
}

.pricing-header-head {
    font-family: "Cabin", sans-serif;
    letter-spacing: 0.01em;
    font-size: 40px;
    line-height: 1.2;
}

.pricing-card-container {
    display: flex;
    gap: 32px;
    flex-direction: column;
}

.pricing-card-session {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    max-width: 343px;
    height: 378px;
    padding: 32px 24px;
    border: 0px solid #0D0B0A;
    border-radius: 16px;
    background-color: #DFEBEB;
}

.pricing-card-header {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    font-family: "Cabin", sans-serif;
    margin-bottom: 8px;
    text-align: center;
}

.pricing-card-price {
    font-family: "Cabin", sans-serif;
    letter-spacing: 0.01em;
    font-size: 44px;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 24px;
}

.pricing-card-list {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pricing-card-btn {
    bottom: 32px;
    left: 24px;
    background-color: #c2d9fc;
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    text-align: center;
    margin-top: 32px;
    max-width: 295px;
    height: 46px;
    cursor: pointer;
    font-weight: 500;
    transition:
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .pricing-card-session-tablet {
    height: 462px;
}

.pricing-card-btn:hover,
.pricing-card-btn:focus {
    opacity: 0.5;
    border: 1px solid var(--color-neutral);
    outline: transparent;
}

.pricing-card-btn:active{
    border-color: #c2d9fc;
}

.pricing-card-btn:disabled {
    opacity: 0.2;
}


@media screen and (min-width: 768px) {

    .pricing-container {
        padding: 0 32px;
    }

    .pricing-container {
        padding: 40px 32px;
    }

    .pricing-header {
        margin-bottom: 24px;
    }
    
    .pricing-card-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .pricing-card-session {
        width: 340px;
        height: 383px;
        padding: 16px;
    }

    .pricing-card-header {
        font-size: 22px;
    }

    .pricing-card-price {
        font-size: 72px;
        margin-bottom: 32px;
    }

    .pricing-card-list {
        row-gap: 16px;
    }

    .pricing-card-btn {
        left: 16px;
        bottom: 16px;
        width: 308px;
        height: 46px;
    }

    .pricing-card-session-tablet{
        width: 704px;
        height: 383px;
        flex-direction: row;
        padding: 86px 16px;
        gap: 32px;
        max-width: 100%;
    }

    .pricing-card-session-tablet .pricing-card-text-container {
        width: 320px;
        height: 211px;
    }

    .pricing-card-session-tablet .pricing-card-btn{
        position: absolute;
        bottom:86px;
        left: 16px;
    }

}

@media screen and (min-width: 1336px) {
    
    .pricing-container {
            padding: 122px 0;
        }
    
        .pricing-header {
            margin-bottom: 40px;
        }
    
        .pricing-header-head {
            font-size: 52px;
        }
    
        .pricing-card-container {
            flex-wrap: nowrap;
        }
    
        .pricing-card-session {
            max-width: 421px;
            height: 509px;
            padding: 32px;
        }
    
        .pricing-card-session-tablet {
            max-width: 421px;
            height: 509px;
            padding: 32px;
            flex-direction: column;
            gap: 0;
        }
    
        .pricing-card-session-tablet .pricing-card-text-container {
            all: unset;
        }
    
        .pricing-card-btn {
            position: absolute;
            padding: 10px 42px;
            bottom: 32px;
            left: 50%;
            transform: translateX(-50%);
            height: 46px;
            width: 357px;
        }
    
        .pricing-card-session-tablet .pricing-card-btn {
            position: absolute;
            bottom: 32px;
            left: 50%;
            transform: translateX(-50%);
        }
}