.yoga-classes {}

.container {}

.container-yoga-classes {}

.subtitle-yoga-classes {}

.title-yoga-classes {}

.dscr-classes {}

.yoga-classes-list {}

.yoga-classes-item {}

.program-yoga {}

.dscr-program {}

.yoga-classes-button {}