.yoga-classes {
    padding-bottom: 64px;
    padding-top: 64px;
    background: #f2fafa;
}

.subtitle-yoga-classes {
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 12px;
}

.title-yoga-classes {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 20px;
}

.dscr-classes {
    text-align: center;
    margin-bottom: 48px;
}

.yoga-classes-list {}

.yoga-classes-item {
    margin-bottom: 48px;
}

.program-yoga {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 24px;
}

.dscr-program {
    text-align: center;
}

.yoga-classes-button {
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
    width: 343px;
    height: 46px;
    background: #c2d9fc;
}

@media screen and (min-width: 768px) {
    .container 
        {
            max-width: 768px;
        }
        .yoga-classes {
            padding-bottom: 40px;
            padding-top: 40px;
        }
    
        .container {
            padding: 0 32px;
        }
    
        .container-yoga-classes {}
    
        .subtitle-yoga-classes {
            margin-bottom: 16px;
        }
    
        .title-yoga-classes {
            margin-bottom: 24px;
        }
    
        .dscr-classes {
            font-size: 18px;
            margin-bottom: 40px;
        }
    
        .yoga-classes-list {
            display: flex;
            flex-wrap: wrap;
            gap: 27px 24px;
            justify-content:center;
            
        }
    
        .yoga-classes-item
        {
            margin-bottom: 0;
            flex-basis: calc((100% - 24px) / 2);
        }
        .yoga-classes-item img
        {
            display: block;
            width: 100%;
        }

        .yoga-classes-item:nth-child(3) 
        {
            flex-basis: 100%;
        }
    
        .program-yoga {
            margin-bottom: 0;
            margin-top: 16px;
        }
    
        .dscr-program {}
    
        .yoga-classes-button 
        {
            margin: 61px auto 0;
            border-radius: 100px;
            padding: 10px 24px;
            width: 110px;
            height: 46px;
            font-weight: 500;
            display: inline;
            line-height: 1.6;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
        }

        span 
        {
            display: none;
        }

    }

    @media  screen and (min-width: 1336px) {
        .container 
        {
            max-width: 1440px;
        } 
        .yoga-classes {
            padding-bottom: 112px;
            padding-top: 112px;
        }
        
        .container {
            padding: 0 64px;
        }
        
        .container-yoga-classes {}
        
        .subtitle-yoga-classes { }
        
        .title-yoga-classes 
        {
            font-size: 52px;
            max-width: 768px;
            margin: 0 auto 24px;
        }
        
        .dscr-classes {
            max-width: 768px;
            margin: 0 auto 40px;
        }
        
        .yoga-classes-list {
            display: flex;
            flex-wrap: nowrap;
            gap: 24px;
            justify-content: center;
            align-items: flex-start;
        }
        
        .yoga-classes-item {
            flex: 0 0 calc((100% - 48px) / 3);        
        }

                
        .yoga-classes-item:nth-child(3) 
        {
            flex-basis: calc((100% - 48px) / 3);
        }

        .yoga-classes-item img {
            width: 100%;
            height: 240%;
        }
        .program-yoga {
            margin-top: 32px;
            margin-bottom: 24px;
            font-size: 36px;
        }
        
        .dscr-program {}
        
        .yoga-classes-button {
            margin-top: 40px;
            transition: background-color 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }

        .yoga-classes-button:hover
        {
            background: #c2d9fc;
            opacity: 0.5;
        }

        .yoga-classes-button:focus
        {
            background: rgba(13, 11, 10, 0.05);
            opacity: 0.5;
        }

        span 
        {
            display: none;
        }
        

}
